<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawx.uestc_lib">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BookListActivity"
            android:theme="@style/AppTheme.Translucent"
            >
        </activity>
        <activity android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>
        <activity android:name=".activity.UserCenterActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            >

        </activity>
        <activity android:name=".activity.CollectionActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            >

        </activity>
        <activity android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            >

        </activity>
        <activity android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            >

        </activity>
        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Translucent"
            android:launchMode="singleTask"
            >

        </activity>
        <activity android:name=".activity.SearchDetailActivity"
            android:theme="@style/AppTheme.Translucent"
            >

        </activity>
    </application>

</manifest>
